@model NoteMarketPlace.Models.ChangePassword
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Change Password - Notes MarketPlace</title>

    <!-- Website Logo -->
    <link rel="shortcut icon" href="~/Content/Admin/images/logo/favicon.ico">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/Admin/css/bootstrap/bootstrap.min.css">

    <!-- css -->
    <link rel="stylesheet" href="~/Content/Admin/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/Admin/css/responsive.css">
    <Script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </Script>
</head>

<body>
    <!-- Background Image -->
    <img class="library-img" src="~/Content/Admin/images/login/banner-with-overlay.jpg" alt="Library">

    <!-- Change -->
    <section id="change">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="main-logo">
                        <a href="~/Admin/dashboard"><img class="img-fluid" src="~/Content/Admin/images/login/top-logo.png" alt="Notes MarketPlace Logo"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="change-box">
                        <p class="section-heading text-center">Change Password</p>
                        <p class="user-instruction">Enter your email to reset your password</p>
                        <form>
                            <div class="form-group">
                                <label class="info-label" for="exampleInputPassword1">Old Password</label>
                                @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control input-box-style", id = "exampleInputPassword4", placeholder = "Enter your old password", autocomplete = "on" })
                                <div class="eye"><img class="eye-img" src="~/Content/Admin/images/login/eye.png" alt="eye"></div>
                            </div>
                            <div class="form-group">
                                <label class="info-label" for="exampleInputPassword1">New Password</label>
                                @Html.PasswordFor(x=>x.NewPassword, new { @class = "form-control input-box-style", id = "exampleInputPassword5", placeholder = "Enter your new password", autocomplete = "on" } )
                               
                                <div class="eye"><img class="eye-img" src="~/Content/Admin/images/login/eye.png" alt="eye"></div>
                            </div>
                            <div class="form-group">
                                <label class="info-label" for="exampleInputPassword1">Confirm Password</label>
                              @Html.TextBoxFor(x=>x.ConfirmPassword, new { @class = "form-control input-box-style", id = "exampleInputPassword6", placeholder = "Enter your confirm password", autocomplete = "on" })
                             
                                <div class="eye"><img class="eye-img" src="~/Content/Admin/images/login/eye.png" alt="eye"></div>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn btn-general btn-purple">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Java-scripts -->
    <!-- JQuery -->
    <script src="~/Scripts/Admin/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Admin/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Admin/js/script.js"></script>

    <!-- Java-scripts -->
</body>
</html>