<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>FAQ - Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/User/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/User/css/font-awesome/css/fontawesome.min.css">

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/4fa77e6d3c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/User/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">

    
</head>

<body>

    <section id="faq">

        <!-- Header -->
        <!-- Header -->
        <div class="only-white-nav extra-style-nav">
            <header class="site-header">
                <div class="header-wrapper">

                    <!-- Mobile Menu Open Button -->
                    <span id="mobile-nav-open-btn">&#9776;</span>

                    <div class="logo-wrapper">
                        <a href="~/User/home" title="Site Logo">
                            <img src="~/Content/User/images/logo/dark-logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navigation-wrapper">
                        <nav class="main-nav">
                            <ul class="menu-navigation">
                                <li>
                                    <a href="~/User/searchnotes">Search Notes</a>
                                </li>
                                <li>
                                    <a href="~/User/dashboard">Sell Your Notes</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/User/buyerRequests">Buyer Requests</a>
                                    </li>
                                }
                                <li>
                                    <a href="~/User/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="~/User/contactUs">Contact Us</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="logged-in-user-photo-li">
                                        <div class="dropdown">
                                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="logged-in-user-photo">
                                                    <img src="@Session["dpPath"]" alt="User Photo" class="rounded-circle">
                                                </div>
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="~/User/userProfile">My Profile</a>
                                                <a class="dropdown-item" href="~/User/myDownloads">My Downloads</a>
                                                <a class="dropdown-item" href="~/User/mySoldNotes">My Sold Notes</a>
                                                <a class="dropdown-item" href="~/User/myRejectedNotes">My Rejected Notes</a>
                                                <a class="dropdown-item" href="~/User/changePassword">Change Password</a>
                                                <a class="dropdown-item logout-btn-dropdown" href="/User/Logout">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>

                                        <a class="btn btn-general btn-purple" href="/User/Logout" title="Download" role="button">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/login" title="Download" role="button">Login</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <img class="logo-in-mobile-menu" src="~/Content/User/images/logo/dark-logo.png" alt="Notes Logo">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>

                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li>
                                    <a href="~/User/searchNotes">Search Notes</a>
                                </li>
                                <li>
                                    <a href="~/User/dashboard">Sell Your Notes</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/User/buyerRequests">Buyer Requests</a>
                                    </li>
                                }
                                <li>
                                    <a href="~/User/faq">FAQ</a>
                                </li>
                                <li>
                                    <a href="~/User/contactUs">Contact Us</a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class=" logged-in-user-photo-li">
                                        <div class="logged-in-user-photo">
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="@Session["dpPath"]" alt="User Photo" class="rounded-circle">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="~/User/userProfile">My Profile</a>
                                                    <a class="dropdown-item" href="~/User/myDownloads">My Downloads</a>
                                                    <a class="dropdown-item" href="~/User/mySoldNotes">My Sold Notes</a>
                                                    <a class="dropdown-item" href="~/User/myRejectedNotes">My Rejected Notes</a>
                                                    <a class="dropdown-item" href="~/User/changePassword">Change Password</a>
                                                    <a class="dropdown-item logout-btn-dropdown" href="/User/Logout">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/Logout" title="Download" role="button">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="btn btn-general btn-purple" href="/User/login" title="Download" role="button">Login</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Header ends -->
        <!-- Header ends -->
        <!-- background -->
        <div class="small-height-bg">
            <p class="text-center">Frequently Asked Questions</p>
        </div>
        <!-- background -->
        <!-- general-box -->
        <div class="general-box">
            <div class="content-box-lg">

                <div class="container">
                    <div class="row">
                        <p class="section-heading">General Questions</p>
                    </div>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="accordion faq1" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p>What is Notes Marketplace?</p>
                                    <div class="faq-plus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
                                            <img src="~/Content/User/images/FAQ/add.png" alt="">
                                        </button>
                                    </div>
                                    <div class="faq-minus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
                                            <img src="~/Content/User/images/FAQ/minus.png" alt="">
                                        </button>
                                    </div>
                                </div>

                                <div id="faq-1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Notes MarketPlace is a platform where you can sell your notes as free or paid and also you can donwload require notes but for selling or downloading you must require to login if you are already register user and if you have not registered user than you can create your account.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="accordion faq2" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p>What do the University say?</p>
                                    <div class="faq-plus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-2" aria-expanded="true" aria-controls="faq-2">
                                            <img src="~/Content/User/images/FAQ/add.png" alt="">
                                        </button>
                                    </div>
                                    <div class="faq-minus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-2" aria-expanded="true" aria-controls="faq-2">
                                            <img src="~/Content/User/images/FAQ/minus.png" alt="">
                                        </button>
                                    </div>
                                </div>

                                <div id="faq-2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, corrupti doloremque deserunt odit quos quam nisi error numquam. Provident illum quibusdam praesentium doloribus. Sit quo necessitatibus repellat velit quibusdam unde?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="accordion faq3" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p>Is this legal?</p>
                                    <div class="faq-plus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-3" aria-expanded="true" aria-controls="faq-3">
                                            <img src="~/Content/User/images/FAQ/add.png" alt="">
                                        </button>
                                    </div>
                                    <div class="faq-minus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-3" aria-expanded="true" aria-controls="faq-3">
                                            <img src="~/Content/User/images/FAQ/minus.png" alt="">
                                        </button>
                                    </div>
                                </div>

                                <div id="faq-3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et itaque maiores reiciendis enim tempora, nostrum fuga! Sunt veniam unde, ipsa soluta consequatur maiores quibusdam illum eum quo ab. Nisi, fuga.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- General-box -->
        <!-- general-box -->
        <div class="general-box">
            <div class="content-box-lg">

                <div class="container">
                    <div class="row">
                        <p class="section-heading">Uploaders</p>
                    </div>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="accordion faq4" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p>What can't I sell?</p>
                                    <div class="faq-plus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-4" aria-expanded="true" aria-controls="faq-4">
                                            <img src="~/Content/User/images/FAQ/add.png" alt="">
                                        </button>
                                    </div>
                                    <div class="faq-minus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-4" aria-expanded="true" aria-controls="faq-4">
                                            <img src="~/Content/User/images/FAQ/minus.png" alt="">
                                        </button>
                                    </div>
                                </div>

                                <div id="faq-4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae labore delectus molestiae dicta necessitatibus itaque debitis consequuntur mollitia ut quibusdam accusantium consectetur laboriosam officiis molestias voluptatum ipsum, possimus accusamus sed.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="accordion faq5" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p>What Notes can I sell?</p>
                                    <div class="faq-plus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-5" aria-expanded="true" aria-controls="faq-5">
                                            <img src="~/Content/User/images/FAQ/add.png" alt="">
                                        </button>
                                    </div>
                                    <div class="faq-minus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-5" aria-expanded="true" aria-controls="faq-5">
                                            <img src="~/Content/User/images/FAQ/minus.png" alt="">
                                        </button>
                                    </div>
                                </div>

                                <div id="faq-5" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo veniam cumque expedita sed corrupti, adipisci officiis eum nisi suscipit minus recusandae iure aperiam quibusdam exercitationem tenetur doloremque quasi provident at?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- General-box -->
        <!-- general-box -->
        <div class="general-box">
            <div class="content-box-lg">

                <div class="container">
                    <div class="row">
                        <p class="section-heading">Downloaders</p>
                    </div>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="accordion faq6" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p>How do I buy notes?</p>
                                    <div class="faq-plus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-6" aria-expanded="true" aria-controls="faq-6">
                                            <img src="~/Content/User/images/FAQ/add.png" alt="">
                                        </button>
                                    </div>
                                    <div class="faq-minus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-6" aria-expanded="true" aria-controls="faq-6">
                                            <img src="~/Content/User/images/FAQ/minus.png" alt="">
                                        </button>
                                    </div>
                                </div>

                                <div id="faq-6" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia deleniti, possimus numquam reprehenderit recusandae, nihil odit aspernatur et excepturi, nesciunt hic quaerat ad ipsa culpa facere ut veritatis itaque sapiente!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="accordion faq7" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <p>Can I edit the notes I purchased?</p>
                                    <div class="faq-plus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-7" aria-expanded="true" aria-controls="faq-7">
                                            <img src="~/Content/User/images/FAQ/add.png" alt="">
                                        </button>
                                    </div>
                                    <div class="faq-minus">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#faq-7" aria-expanded="true" aria-controls="faq-7">
                                            <img src="~/Content/User/images/FAQ/minus.png" alt="">
                                        </button>
                                    </div>
                                </div>

                                <div id="faq-7" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, praesentium ratione voluptas hic eos mollitia alias, dolores dolor quibusdam voluptatibus ullam aspernatur doloribus commodi explicabo at earum porro? Incidunt, placeat!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- General-box -->
        <!-- Footer  -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-12 text-left">
                        <p>Copyright &copy; TatvaSoft All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-4 col-12 text-right">
                        <ul class="social-list">
                            <li><a class="facebook-img" href="#"><img src="~/Content/User/images/Homepage/facebook.png" alt=""></a></li>
                            <li><a class="twitter-img" href="#"><img src="~/Content/User/images/Homepage/twitter.png" alt=""></a></li>
                            <li><a class="linkedin-img" href="#"><img src="~/Content/User/images/Homepage/linkedin.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Ends -->
    </section>


    <!-- JQuery -->
    <script src="~/Scripts/User/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/User/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/User/js/script.js"></script>

</body>

</html>