<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Title -->
    <title>Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/User/images/logo/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/Content/User/css/font-awesome/css/fontawesome.min.css">

    <!-- FontAwesome kit -->
    <script src="https://kit.fontawesome.com/4fa77e6d3c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/Content/User/css/bootstrap/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">

</head>

<body>

    <section id="home-page">

        <!-- Header -->
        <header class="site-header">
            <div class="header-wrapper">

                <!-- Mobile Menu Open Button -->
                <span id="mobile-nav-open-btn">&#9776;</span>

                <div class="logo-wrapper">
                    <a href="~/User/home" title="Site Logo">
                        <img src="~/Content/User/images/logo/white-logo.png" alt="NotesMarketPlace">
                    </a>
                </div>
                <div class="navigation-wrapper">
                    <nav class="main-nav">
                        <ul class="menu-navigation">
                            <li>
                                <a href="~/User/searchNotes">Search Notes</a>
                            </li>
                            <li>
                                <a href="~/User/addNote">Sell Your Notes</a>
                            </li>
                            <li>
                                <a href="~/User/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="~/User/contactUs">Contact Us</a>
                            </li>
                            <li>
                                <a class="btn btn-general btn-purple" href="~/User/login" title="Login" role="button">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Mobile Menu -->
                <div id="mobile-nav">

                    <img class="logo-in-mobile-menu" src="~/Content/User/images/logo/dark-logo.png" alt="Notes Logo">

                    <!-- Mobile Menu Close Button -->
                    <span id="mobile-nav-close-btn">&times;</span>

                    <div id="mobile-nav-content">
                        <ul class="nav">
                            <li>
                                <a href="~/User/searchNotes">Search Notes</a>
                            </li>
                            <li>
                                <a href="~/User/addNote">Sell Your Notes</a>
                            </li>
                            <li>
                                <a href="~/User/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="~/User/contactUs">Contact Us</a>
                            </li>
                            <li>
                                <a class="btn btn-general btn-purple" href="~/User/login" title="Download" role="button">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- Home -->
        <section id="home">

            <!-- Background Image -->
            <img id="home-bg" src="~/Content/User/images/Homepage/banner-with-overlay.jpg" alt="Background">

            <!-- Home content -->
            <div id="home-content">
                <div id="home-heading">
                    <h1>Download Free/Paid Notes or Sale your Book</h1>
                </div>
                <div id="home-text">
                    <p>
                        Lorem ipsum has been the industry's standard text ever since the 1500s, when an unknown printer took
                        a galley of type.
                    </p>
                </div>
                <a class="btn btn-general btn-home" href="#" title="Learn More" role="button">LEARN MORE</a>
            </div>

        </section>

        <!-- About -->
        <section id="about">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <!-- left side -->
                        <div class="col-md-4 col-sm-12 col-12">
                            <div id="about-left">
                                <p>About<br>NotesMarketPlace</p>
                            </div>
                        </div>

                        <!-- right-side -->
                        <div class="col-md-8 col-sm-12 col-12">
                            <div id="about-right">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, debitis eaque placeat accusamus, libero quisquam ex maiores consectetur modi aliquam odit. Repellat vel eos voluptates? Quisquam Veritatis, debitis eaque placeat accusamus, libero quisquam ex maiores commodi cumque praesentium provident.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae impedit itaque placeat laudantium perferendis repudiandae, praesentium harum quasi possimus, et dolorem consequuntur obcaecati officia! Delectus ratione expedita maiores amet reiciendis!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About ends -->
        <!-- Work -->
        <section id="work">
            <div class="content-box-lg">
                <p class="section-heading text-center">How it Works</p>
                <div id="work-part">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div id="download-logo"><img class="img-fluid" src="~/Content/User/images/Homepage/download.png" alt=""></div>
                                    <p id="download-title">Download Free/Paid Notes</p>
                                    <p id="download-des">Get Material for Your<br>Course etc.</p>
                                    <a class="btn btn-general btn-purple" href="#" title="Download" role="button">Download</a>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="text-center">
                                    <div id="sell-logo"><img class="img-fluid" src="~/Content/User/images/Homepage/seller.png" alt=""></div>
                                    <p id="sell-title">Sell Your Notes</p>
                                    <p id="sell-des">Upload and Download Course<br>and Materials etc.</p>
                                    <a class="btn btn-general btn-purple" href="#" title="Sell Book" role="button">SELL BOOK</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Work ends -->
        <!-- Testimonial -->
        <section id="testimonial">
            <div class="content-box-lg">
                <p class="section-heading text-center">What our Customers are Saying</p>
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div id="testimonial-tile-1" class="author">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 col-2 author-photo">
                                        <img src="~/Content/User/images/testimonial/customer-1.png" alt="client" class="rounded-circle">
                                    </div>
                                    <div class="col-md-9 col-sm-10 col-10">
                                        <div class="author-name-des">
                                            <p>Walter Meller</p>
                                            <p>Founder & CEO, Matrix Group</p>
                                        </div>
                                    </div>
                                </div>
                                <p id="testimonial-text">"Lorem ipsum dolor sit erys amet tryue consectetur adipisicing elit. Ratione, facere getif rice cumque officiis necessitatibus blanditiis. Culpa."</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="testimonial-tile-2" class="author">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2  col-2 author-photo">
                                        <img src="~/Content/User/images/testimonial/customer-2.png" alt="client" class="rounded-circle">
                                    </div>
                                    <div class="col-md-9 col-sm-10  col-10">
                                        <div class="author-name-des">
                                            <p>Jonnie Riley</p>
                                            <p>Employee, Curious Snakes</p>
                                        </div>
                                    </div>
                                </div>
                                <p id="testimonial-text">"Lorem ipsum dolor sit erys amet tryue consectetur adipisicing elit. Ratione, facere getif rice cumque officiis necessitatibus blanditiis. Culpa."</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="testimonial-tile-3" class="author">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2  col-2 author-photo">
                                        <img src="~/Content/User/images/testimonial/customer-3.png" alt="client" class="rounded-circle">
                                    </div>
                                    <div class="col-md-9 col-sm-10  col-10">
                                        <div class="author-name-des">
                                            <p>Amilia Luna</p>
                                            <p>Teacher, Saint Joseph High School</p>
                                        </div>
                                    </div>
                                </div>
                                <p id="testimonial-text">"Lorem ipsum dolor sit erys amet tryue consectetur adipisicing elit. Ratione, facere getif rice cumque officiis necessitatibus blanditiis. Culpa."</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="testimonial-tile-4" class="author">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2  col-2 author-photo">
                                        <img src="~/Content/User/images/testimonial/customer-4.png" alt="client" class="rounded-circle">
                                    </div>
                                    <div class="col-md-9 col-sm-10  col-10">
                                        <div class="author-name-des">
                                            <p>Daniel Cardos</p>
                                            <p>Softwere Engineer, Infitium Company</p>
                                        </div>
                                    </div>
                                </div>
                                <p id="testimonial-text">"Lorem ipsum dolor sit erys amet tryue consectetur adipisicing elit. Ratione, facere getif rice cumque officiis necessitatibus blanditiis. Culpa."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial ends -->
        <!-- Footer  -->
        <footer>
            <div id="home-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-12 text-left">
                            <p>Copyright &copy; TatvaSoft All Rights Reserved.</p>
                        </div>
                        <div class="col-md-6 col-sm-4 col-12 text-right">
                            <ul class="social-list">
                                <li><a class="facebook-img" href="#"><img src="~/Content/User/images/Homepage/facebook.png" alt=""></a></li>
                                <li><a class="twitter-img" href="#"><img src="~/Content/User/images/Homepage/twitter.png" alt=""></a></li>
                                <li><a class="linkedin-img" href="#"><img src="~/Content/User/images/Homepage/linkedin.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Ends -->

    </section>


    <!-- JQuery -->
    <script src="~/Scripts/User/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/User/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/User/js/script.js"></script>


</body>

</html>